.singleChatBox {
    justify-content: space-between;
    font-size: 28px;
    font-family: "Work Sans";
}
.singleChatBox .arrow-left:hover {
    background: #cacaca;
}
.singleChatBox .arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #e8e8e8;
    padding: 0.2em;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

.singleChatBox.online-chat {
    padding-bottom: 0.5rem !important;
}

.singleChatBox.online-chat .sender-name span:first-child {
    margin-bottom: -10px;
}

.sender-name span:nth-of-type(2) {
    font-size: 0.75rem;
}

.brace {
    display: none;
}

@media (min-width: 768px) {
    .singleChatBox {
        font-size: 30px;
    }

    .singleChatBox .arrow-left {
        display: none;
    }
}
@media (max-width: 768px) {
    .singleChatBox.online-chat .sender-name {
        flex-direction: row !important;
        align-items: baseline;
    }
    .brace {
        display: initial;
    }
}
