.chatBox-wrapper {
    background: #f8f8f8;
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;

    width: 100%;
}
@media (min-width: 768px) {
    .chatBox-wrapper {
        display: flex !important;
        width: 68%;
    }
}
